

body{
    background-color: white;
}

p{
    font-family: sans-serif;
    text-align: center;
    font-size: 64pt;
    letter-spacing: 0;
    white-space: nowrap;
}

#google
{
    letter-spacing: 0ch;
}

form
{
    display: flex;
    justify-content: center;
}

#buttons{
    display: block;
    max-width: 300px;
    margin: auto;
}

ol{
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    color: #707579;
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    position: fixed;
    width: 97%;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    

}

#list{
    background-color: #f2f2f2;
}

input
{
    width: 30%;
    height: 40%;
}
